body {
  background: #ddd;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  height: 650px;
  width: 350px;
  border: 2px solid black;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: black;
}

.header {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
}

.back i {
  font-size: 20px;
  cursor: pointer;
}


.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.profile img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 14px;
  font-weight: bold;
}

.icons i {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}


.chat {
  flex-grow: 1;
  background-color: #000;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.dates {

  position: sticky;
  top: 0%;

  text-align: center;
  background-color: grey;
  color: white;
  width: fit-content;
  margin: 10px auto;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 12px;
 
}

.msg {
  max-width: 75%;
  padding: 6px 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  clear: both;
}

.sent {
  background: #056162;
  margin-left: auto;
  text-align: right;
}

.received {
  background: #262d31;
  margin-right: auto;
  text-align: left;
}

.typebox{
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: white;  
}
span i {
  margin-left: 140px;
}
