*{
    margin: 0px;
    padding: 0px;
}

.ContainerHead {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu, ul{
    display: flex;
    justify-content: right;
}

ul{
    gap: 10px;
    order: -1;
}
.menu>.fa-solid{
    display: none;
}

#menu{
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.containers{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 2rem;
    min-height: 100vh;
    color: slategray;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container{
    display: grid;
    min-height: 350px;
}

.Container2, .Container5, .Container6{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-weight: bolder;
    animation-name: a;
    animation-duration: 1s;
}

.text>h1{
    font-size: 3rem;
    color: rgb(27, 26, 26);
    margin-bottom: 1rem;
}

.img-container{
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Container5>.img-container, .Container6>.img-container, .Container8>.img-container{
    justify-items: center;
}

.images{
    width: 300%;
    height: 100%;
    display: flex;
    animation: x 12s infinite ease-in-out;
    animation-fill-mode: forwards;
}

img{
    width: 100%;
    height: 375px;
    object-fit: cover;
    
}

@keyframes x{
   0%{
        transform: translate(0%);
    }
    20%{
        transform: translate(0%);
    }
    40%{
        transform: translate(-33%);
    }
    60%{
        transform: translate(-33%);
    }
    80%{
        transform: translate(-67%);
    }
    100%{
        transform: translate(-67%);
    }
}

@keyframes x2{
   0%{
        transform: translate(0%);
    }
    20%{
        transform: translate(0%);
    }
    40%{
        transform: translate(-41%);
    }
    60%{
        transform: translate(-41%);
    }
    80%{
        transform: translate(-82%);
    }
    100%{
        transform: translate(-82%);
    }
}

.Container3,.Container7, .Container9{
    align-content: center;
    justify-items: center;
    color: rgb(24, 24, 24);
}

.Container3>p, .Container7>p{
    color: slategray;
    font-size: 1.25rem;
    line-height: 2rem;
    width: 40%;
}

button{
    width: 200px;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem 1rem;
}

button:hover{
    color: rgb(218, 30, 30);
    border: 2px solid  rgb(218, 30, 30);
}

.Container4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.icon{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.2rem;  
    color: rgb(31, 31, 31);
    line-height: 2rem;
}
.icon>h3{
    font-size: 1.75rem;
}

.text2{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}
.text2>img{
    width: 80px;
    height: 80px;
}
h4{
    color: rgb(33, 33, 33);
}

.Container5>.img-container{
    animation: d 1s ease;
}

.Container6>.img-container{
    animation: a 1s ease;
}

.Container6>.text{
    animation: d 1s ease;
}

.Container8{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}
.Container8>.img-container{
    height: 90vh;
    width: 100%;
    animation: d 1s ease-in-out;
}
.Container8>.img-container>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Container8>.img-container>img:hover{
    animation: s 0.5s ease;
}

.Container9{
    align-content: space-between;
    margin-bottom: 2rem;
}

.Container10{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: rgb(29, 29, 29);
}
.Container10>.team{
    min-height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.Container10>.team>img{
    width: 95%;
    height: 85%;
}
.Container10>.team>p{
    color: slategray;
}

.Container11{
    justify-content: center;
    align-items: center;
}

.Container12{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 10px;
    align-items: center;
}

.Container12>.numbers{
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}

.Container12>.numbers>h1{
    font-size: 4rem;
    font-weight: 900;
    color: rgb(237, 67, 67);
}

.Container13 {
    display: grid;
    background-color: rgb(54, 69, 54);
    color: white;
    align-items: center;
    height: 200px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.Container13>.footer1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.Container13>.footer1>.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.Container13>.footer2 {
    display: grid;
    justify-content: center;
}
.fa-brands {
    font-size: 1rem;
}

@media screen and (max-width:500px){
     .menu>ul{
        display: none;
    }
    .menu>.fa-solid{
        display: block;
    }

    .fa-xmark{
        position: absolute;
        z-index: 1;
        opacity: 0;
    }

    #menu{
        width: 20px;
        height: 20px;
    }

    .menu>#menu:checked ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: absolute;
        padding: 1rem;
        gap: 30px;
        top: 62px;
        left: 0px;
        right: 0px;
        margin: 0px;
        z-index: 1;
        background-color: rgb(34, 34, 34);
        color: white;
        height: 200px;
        font-size: 1.25rem;
        transform-origin: top;
        animation: y1 1s ease;
    }

    .menu>#menu:checked ~ ul>li{
        border-bottom: 1px solid white;
        width: 100%;
    }
    .menu>#menu:checked + .fa-bars{
        opacity: 0;
    }
    .menu>#menu:checked ~ .fa-xmark {
        opacity: 1;
    }

    .img-container{
        order: 1;
    }

    .images{
        animation: x2 12s infinite ease-in-out;
        animation-fill-mode: forwards;
    }

    .text{
        text-align: center;
        order: 2;
        color: slategray;
    }
    .text>h1{
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
    .Container4{
        flex-direction: column;
    }
    .icon{
        width: 80%;
    }
    .text>h1{
        font-size: 3rem;
    }
    .Container3>p, .Container7>p{
        width: 60%;
    }

    .Container8{
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .Container8>.img-container{
        height: 70vh;
    }

    .Container12{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 5px;
    }
    .Container12>.numbers{
        font-size: 1rem;
        height: 150px;
    }

    .Container12>.numbers>h1{
        font-size: 3rem;
    }

    .Container13>.footer1{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .Container13>.footer1>.footer{
        gap: 6px;
    }

}

@keyframes y1 {
    from{
       transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}

@keyframes a{
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes d{
    from{
        transform: translateY(80px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes s{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}